@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Gelasio:wght@600&family=Inter&family=Lato:wght@400;700;900&family=Open+Sans:wght@300&family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --white: #FFF;
    --orange: #f55529;
    --red: #f50103;
    --bg: #101010;
    --bg-header: rgba(16, 16, 16, .5);
    --logo-and-counter-text: #0f0d1c;
    --home-img-circle: #1c1c1c;
    --block-color: #181818;
    --my-service-block-text: #5a5a5a;
    --my-service-block-header: #1f0c0b;
    --by-service-element: #5a5a5a;
    --by-service-element-hover: #f4f4f4;
    --text-color-ececec: #ececec;
    --text-color-ebebeb: #ebebeb;
    --text-color-d6d6d7: #d6d6d7;
    --text-color-c9cacd: #c9cacd;
    --text-color-f1f1f1: #f1f1f1;
    --text-color-fefefe: #fefefe;
    --blog-block-color: #1d2027;
    --blog-selector-color: #989fab;
    --blog-selector-active-color: #df2020;
    --clients-bg: #1d2027;
    --border-color-email-input: #e2e2e2;

    --logo: url('/images/logo.svg');
    --home-face: url('/images/home/face.png');
    --my-services-blog-img: url('/images/services/my-services/blog.svg');
    --my-services-seo-img: url('/images/services/my-services/seo.svg');
    --my-services-con-arch-img: url('/images/services/my-services/conarch.svg');
    --by-services-arrow-img: url('/images/services/by-services/by-services-button.svg');
    --by-services-check-mark-img: url('/images/services/by-services/check-mark.svg');
    --blog-quite-down-quote: url('/images/blog/down-quote.svg');
    --blog-quite-upper-quote: url('/images/blog/upper-quote.svg');
    --blog-author-stokes: url('/images/blog/stokes.png');
    --blog-author-fokes: url('/images/blog/fokes.png');
    --facebook: url('/images/contact/footer/facebook.svg');
    --twitter: url('/images/contact/footer/twitter.svg');
    --instagram: url('/images/contact/footer/instagram.svg');
    --linked-in: url('/images/contact/footer/linked-in.svg');
    --vimeo: url('/images/contact/footer/vimeo.svg');
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

p {
    margin: 0;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

header {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
    background-color: var(--bg);
    color: var(--white);
    overflow-x: hidden;
}

.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--bg-header);
    padding: 2rem 0;
    margin-top: 2rem;
    white-space: nowrap;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.navigation__logo {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5rem;
}

.navigation__list {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.navigation__item {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 0;
    cursor: pointer;
    line-height: 2.25rem;
    transition: font-size .3s ease-in-out,
        box-shadow .3s ease-out,
        color .1s ease;
}

.navigation__item:hover {
    text-shadow: 0 0 .4rem var(--orange);
    color: var(--orange);
    font-size: 36px;
}

.navigation__item_active {
    color: var(--orange);
    border-bottom: 0.0625rem solid var(--orange);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
}

.home__base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8rem;
}

.home__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9375rem;
    margin-bottom: 10rem;
    max-width: 41.5rem;
}


.home__img {
    min-width: 43.375rem;
    min-height: 46.1875rem;
}

.home__img-circle {
    position: relative;
    width: 40.5rem;
    height: 40.5rem;
    border-radius: 100%;
    background-color: var(--home-img-circle);
    top: 2rem;
}

.home__img-face {
    position: relative;
    background: var(--home-face) no-repeat;
    width: 41.3125rem;
    min-height: 54.1875rem;
    background-size: 41.3125rem 54.1875rem;
    bottom: 10rem;
    left: 2rem;
}

.home__social {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: var(--red);
    padding: 4.125rem 5rem;
    overflow-x: hidden;
    justify-content: center;
    gap: 7.8125rem;
}

.home__social-item {
    display: inline-block;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    transform: scale(1);
    text-shadow: 0 0 0;
    transition: transform .5s ease,
        text-shadow 2s ease;
}

.home__social-item:hover {
    transform: scale(1.5);
    text-shadow: 0 0 .5rem var(--white);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9375rem;
}

.my-services__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: wrap;
    gap: 1.875rem;
    margin-top: 3.375rem;
    margin-bottom: 10rem;
}

.my-services__block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 18.125rem;
    padding: 3rem 2.5rem;
    background-color: var(--block-color);
    transform: scale(1);
    transition: transform .3s ease;
}

.my-services__block:hover {
    transform: scale(1.1);
}

.my-services__block:hover .my-services__block-header,
.my-services__block:hover .my-services__block-text {
    color: var(--white);
}


.my-services__block-header {
    color: var(--my-service-block-header);
    white-space: nowrap;
    transition: color .3s ease;
}

.my-services__block-text {
    color: var(--my-service-block-text);
    line-height: 1.75rem;
    transition: color .3s ease;
}

.by-services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--block-color);
    width: 100vw;
    gap: 7.5rem;
    padding: 6.625rem 0;
}

.by-services__list {
    display: flex;
    flex-flow: column wrap;
    counter-reset: item;
    width: 35.625rem;
    gap: 4rem;
}

.by-services__item::before {
    position: relative;
    bottom: .7rem;
    right: 1.625rem;
    content: "0" counter(item);
    counter-increment: item;
    color: var(--logo-and-counter-text);
    transition: color .3s ease;
}

.by-services__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 33.4375rem;
    min-height: auto;
}

.by-services__item:hover::before {
    color: var(--white);
}

.by-services__item:hover .by-services__item-header {
    border-color: var(--white);
}

.by-services__nowrap-item {
    display: flex;
    flex-wrap: nowrap;
}

.by-services__item-header {
    width: 27.875rem;
    padding: 1.25rem 0;
    border-top: .125rem solid var(--logo-and-counter-text);
    transition: border .3s ease;
}

.by-services__item-button {
    position: relative;
    bottom: 1.25rem;
    left: 1.375rem;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 2.75rem;
    stroke: var(--white);
}

.by-services__item-list {
    display: flex;
    margin-left: 2.5rem;
    gap: 2.25rem;
    align-items: center;
}

.by-services__item-element {
    color: var(--by-service-element);
    text-transform: capitalize;
    white-space: nowrap;
    cursor: default;
    transition: color .3s ease;
}

.by-services__item-element:hover {
    color: var(--by-service-element-hover);
}

.by-services__item-element::before {
    position: relative;
    top: .125rem;
    right: .75rem;
    content: var(--by-services-check-mark-img);
    vertical-align: center;
}

.by-services__info {
    display: flex;
    flex-direction: column;
    max-width: 28.875rem;
    gap: 1.875rem;
}

.by-services__info-button {
    display: flex;
    align-self: flex-start;
    text-transform: uppercase;
    align-items: center;
    gap: .3rem;
    stroke: var(--white);
    transition: stroke .3s ease;
}

.by-services__info-button:hover {
    stroke: var(--orange);
}

.case-studies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.1875rem;
}

.case-studies__portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 73.125rem;
    overflow: hidden;
}

.case-studies__portfolio-item {
    max-width: 24.375rem;
    max-height: 20rem;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3125rem
}

.blog__block-list {
    display: flex;
    gap: 1.875rem;
}

.blog__block {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.blog__rectangle {
    max-width: 30.125rem;
    padding: 1.4375rem 3.125rem 2.0625rem 2.375rem;
    border-radius: .375rem;
    background-image: var(--blog-quite-down-quote), var(--blog-quite-upper-quote);
    background-repeat: no-repeat, no-repeat;
    background-position: 0.5rem 1.25rem, bottom 0.5rem right 1.25rem;
    background-color: var(--blog-block-color);
}

.blog__author {
    display: flex;
    gap: 1.25rem;
}

.blog__author-img {
    min-width: 6rem;
    min-height: 6rem;
    border-radius: .625rem;
    background-color: var(--blog-block-color);
    background-repeat: no-repeat;
    background-position: bottom;
}

.stokes {
    background-image: var(--blog-author-stokes);
}

.fokes {
    background-image: var(--blog-author-fokes);
}

.blog__author-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-transform: capitalize;
    gap: .1875rem;
}

.blog__selector {
    display: flex;
    align-items: center;
    gap: .8125rem;
}

.blog__option {
    width: 1.3125rem;
    height: .3125rem;
    border: .0625rem solid var(--blog-selector-color);
    box-shadow: 0 0 0 0 var(--blog-selector-active-color);
    border-radius: .1rem;
    transform: scale(1);
    transition: transform .3s ease,
        border-color .3s ease,
        box-shadow .3s ease-in;
}

.blog__option:hover {
    transform: scale(1.1);
    border-color: var(--blog-selector-active-color);
    box-shadow: 0 0 .3rem 0 var(--blog-selector-active-color);
}

.option_active {
    border: .0825rem solid var(--blog-selector-active-color);
    background-color: var(--blog-selector-active-color);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 6.1875rem;
}

.contact__clients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--clients-bg);
    width: 100vw;
    padding: 4.25rem 0;
    gap: 4.375rem
}

.clients__info {
    display: flex;
    flex-direction: column;
    max-width: 24.4375rem;
    gap: .6875rem;
}

.clients__list {
    display: flex;
    align-items: center;
    gap: 8.0625rem;
}

.client {
    max-width: 9.5rem;
    max-height: 4.5rem;
}

.contact__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 9.6875rem;
    gap: 10.6875rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    max-width: 24.3125rem;
    gap: 1.3125rem;
}

.footer__email {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.footer__email-input {
    padding: 0.9375rem 7.4375rem 1rem 1.4375rem;
    border: 0.0625rem solid var(--border-color-email-input)
}

.footer__email-input::placeholder {
    color: var(--white);
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 1.685rem;
}

.footer__social-links {
    display: flex;
    gap: .8rem
}

/*  */
/*  */
/* Миксы */
/*  */
/*  */



.logo__text {
    color: var(--logo-and-counter-text);
    text-transform: capitalize;
}

.text_work-sans {
    font-family: 'Work Sans', sans-serif;
}

.text_lato {
    font-family: 'Lato', sans-serif;
}

.text_open-sans {
    font-family: 'Open Sans', sans-serif;
}

.text_inter {
    font-family: 'Inter', sans-serif;
}

.text_gelasio {
    font-family: 'Gelasio', sans-serif;
}

.text_cormorant {
    font-family: 'Cormorant', sans-serif;
}

.text_light {
    font-weight: 300;
}

.text_regular {
    font-weight: 400;
}

.text_medium {
    font-weight: 500;
}

.text_semibold {
    font-weight: 600;
}

.text_bold {
    font-weight: 700;
}

.text_extrabold {
    font-weight: 900;
}

.text_size_14 {
    font-size: 14px;
}

.text_size_16 {
    font-size: 16px;
}

.text_size_18 {
    font-size: 18px;
}

.text_size_20 {
    font-size: 20px;
}

.text_size_22 {
    font-size: 22px;
}

.text_size_24 {
    font-size: 24px;
}

.text_size_30 {
    font-size: 30px;
}

.text_size_32 {
    font-size: 32px;
}

.text_size_34 {
    font-size: 34px;
}

.header_size_36 {
    font-size: 36px;
}

.header_size_40 {
    font-size: 40px;
}

.header_size_56 {
    font-size: 56px;
}

.header_size_74 {
    font-size: 74px;
}

.text_white {
    color: var(--white);
}

.text_red {
    color: var(--red)
}

.text_color_ececec {
    color: var(--text-color-ececec)
}

.text_color_ebebeb {
    color: var(--text-color-ebebeb);
}

.text_color_d6d6d7 {
    color: var(--text-color-d6d6d7);
}

.text_color_c9cacd {
    color: var(--text-color-c9cacd);
}

.text_color_f1f1f1 {
    color: var(--text-color-f1f1f1);
}

.text_color_fefefe {
    color: var(--text-color-fefefe);
}

.text_first-letter-up {
    display: inline-block;
}

.text_first-letter-up::first-letter {
    text-transform: uppercase;
}

.text_capitalize {
    text-transform: capitalize;
}

.text_line_height {
    line-height: 180%;
}

.section__header {
    display: flex;
    flex-direction: column;
    max-width: 34.1875rem;
    text-align: center;
    gap: 2.25rem;
}

.button {
    cursor: pointer;
    color: var(--white);
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--orange);
    text-shadow: 0 0 0 var(--bg);
    transition: transform .3s ease-in-out,
        box-shadow .3s ease,
        text-shadow .2s ease,
        background .3s ease,
        colot .5s ease;
    text-transform: capitalize;
}

.button:not(.by-services__button, .button_orange) {
    border-radius: 0.3125rem;
}

.button:hover {
    transform: scale(1.05);
    background-color: var(--bg);
}

.button_size_s {
    padding: .7rem 1.2rem;
}

.button_size_m {
    padding: 1rem 1.5rem;
}

.button_size_l {
    padding: 1.5rem 2rem;
}

.button_red {
    background-color: var(--red);
}

.button_red:hover {
    color: var(--red);
    text-shadow: 0 0 0.3125rem var(--red);
    box-shadow: 0 0 1.8rem 0.1125rem var(--red);
}

.button_orange {
    background-color: var(--orange);
}

.button_orange:hover {
    color: var(--orange);
    text-shadow: 0 0 0.3125rem var(--orange);
    box-shadow: 0 0 3.8rem 0.9125rem var(--orange),
        inset 0 0 .2rem .1rem var(--orange);
}

.icon_header {
    width: 1.75rem;
    height: 1.75rem;
}

.icon_small {
    width: 1.7rem;
    height: 1.7rem;
}

.icon_medium {
    width: 2.75rem;
    height: 2.75rem;
}

.icon_large {
    width: 4.0625rem;
    height: 4.3125rem;
}

.icon_blog {
    background: var(--my-services-blog-img) no-repeat;
    background-size: cover;
}

.icon_seo {
    background: var(--my-services-seo-img) no-repeat;
    background-size: cover;
}

.icon_con-arch {
    background: var(--my-services-con-arch-img) no-repeat;
    background-size: cover;
}

.icon_logo {
    background: var(--logo) no-repeat;
    background-size: cover;
}

.icon_facebook {
    background: var(--facebook) no-repeat;
    background-size: cover;
}

.icon_twitter {
    background: var(--twitter) no-repeat;
    background-size: cover;
}

.icon_linked-in {
    background: var(--linked-in) no-repeat;
    background-size: cover;
}

.icon_instagram {
    background: var(--instagram) no-repeat;
    background-size: cover;
}

.icon_vimeo {
    background: var(--vimeo) no-repeat;
    background-size: cover;
}

.img_full_in_place {
    width: 100%;
    height: 100%;
}