@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Work+Sans:wght@400;500&display=swap');

body {
    background-color: #101010;
}

.navigation {
    position: relative;
    margin-top: 4rem;
    margin-left: 18%;
    margin-bottom: 5%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}


.navigation_no-selected{
    position: relative;
    color: #FFF;
    font-style: normal;
    text-decoration-line: none;
    margin-right: 2rem;
}

.navigation__contact {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.25rem;
    margin-left: 11rem;
    border-radius: 0.3125rem;
    background: #F50103;
    color: #FFF;
    text-decoration-line: none;
}

.navigation_selected{
    position: relative;
    color:#F55529;
    text-decoration-line: underline;
    font-style: normal;
    margin-right: 2rem;
}


.navigation::marker{
    content:"";
}

.navigation__logo {
    color: #0F0D1C;
    font-size: 1.5rem;
    margin-right: 11rem;
}

.navigation::before{
    display: block;
    content: "";
    position: absolute;
    top: 0.35rem;
    left: -2.25rem;
    width: 1.75rem;
    height: 1.75rem;
    background: transparent url('/css/images/navigation/logo.svg') no-repeat;
}

.information {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    color: #FFF;
    margin-left: 17%;
}

.information__elem1 {
    position: relative;
    display: inline-block;
    width: 38.875rem;
    height: 19.875rem;
    font-size: 4.625rem;
    font-weight: 800;
    line-height: 140%;
}

.information__elem1 span {
    color: #F50103
}

.information__elem2 {
    position: relative;
    width: 41.5rem;
    height: 4.125rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: -4%;
}

.information__elem3 {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    padding: 1.25rem 2.8125rem;
    border-radius: 0.3125rem;
    background: #F50103;
    color: #FFF;
    font-size: 2.125rem;
    font-weight: 800;
    line-height: 160%;
    text-decoration-line: none;
}

.information__circle {
    display: inline-block;
    position: absolute;
    margin-left: 48%;
    margin-top: 5rem;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #1C1C1C;
}

.information__circle img {
    width: 41.3125rem;
    height: 54.1875rem;
    margin-top: -8rem;
    margin-left: 2rem;
}