@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Gelasio:wght@600&family=Inter&family=Lato:wght@400;900&family=Open+Sans:wght@300&family=Work+Sans:wght@400;500&display=swap');

:root{
    --white: #FFF;
    --orange: #F55529;
    --black: #000;
    --almost-black: #101010;
    --logo-color: #0F0D1C;
    --red:#F50103;
    --gray:#E8E8E8;
    --black-gray:#181818;
    --white-gray:#EBEBEB;
    --blackish-red:#1F0C0B;
    --grayish:#5A5A5A;
    --smoky-white:#F4F4F4;
    --smoky-gray:#ECECEC;
    --white-arrow:#EAEAEF;
    --blackish:#0F0D1C;
    --black-eye:#1D2027;
    --white-dice:#D6D6D7;
    --white-post:#C9CACD;
    --white-clients:#F1F1F1;
    --white-footer:#FEFEFE;
    --white-input-border:#E2E2E2;
}

a {
    color: inherit;
    text-decoration-line: none;
}

input{
    color: inherit;
    border-radius: 0px;
}

html{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: var(--almost-black);
    margin: 0;
    padding: 0;
    color: var(--white)
}

._active:hover{
    box-shadow: var(--orange) 0 0 5px 3px;
    background: var(--black);
    text-shadow: var(--orange) 1px 0px 25px;
    color: var(--orange);
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-left: 19.8%;
    margin-right: 20.5%;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.navigation__logo {
    color: var(--logo-color);
    margin-right: 15%;
    font-size: 24px;
}

.navigation li{
    list-style-type: none;
}

.navigation__item{
    margin-right: 3.5%;
    color: var(--white);
}

.navigation__item_selected{
    color: var(--orange);
    text-decoration-line: underline;
    margin-right: 3.5%;
}

.navigation li:hover{
    color: var(--orange);
    text-shadow: var(--orange) 1px 0px 10px;
}

.navigation__contact {
    padding: 0.5rem 1.25rem;
    margin-left: 18%;
    border-radius: 0.3125rem;
    font-size: 16px;
    background: var(--red);
    color: var(--white);
    text-align: center;
    text-decoration-line: none;
    line-height: 1.625rem;
}

.navigation::marker{
    content:"";
}

.navigation::before{
    display: block;
    content: "";
    position: absolute;
    left: -2%;
    width: 1.75rem;
    height: 1.75rem;
    background: transparent url('/css/images/logo.svg') no-repeat;
}

.information{
    margin-top: 5.9375rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 14%;
    font-style: normal;
    font-family: "Lato", sans-serif;
    flex-shrink: 0;
}

.information__elem1{
    position: relative;
    display: block;
    color:var(--white);
}

.information_large{ 
    width: 38.875rem;
    height: 19.875rem;
    font-size: 74px;
    font-weight: 800;
    width: 38rem;
    height: 19.25rem;
    line-height: 140%;
}

.information_small{
    margin-top: -2.4rem;
    font-size: 22px;
    font-weight: 400;
    width: 41.5rem;
    height: 5rem;
    line-height: 160%;
}

.information_large span{
    color:var(--red);
}

.information__elem2 {
    position: relative;
    width: 16.875rem;
    height: 5.875rem;
    border-radius: 0.3125rem;
    background: var(--red);
}

.information__elem2 a{
    width: 16.875rem;
    height: 5.875rem;
    text-decoration-line:none;
}

.information__elem2 a p{
    width: 16.875rem;
    height: 5.875rem;
    color:var(--white);
    font-family: 'Leto', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 94px;
    text-align: center;
    vertical-align: bottom;
}

.information{
    margin-top: 5.9375rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 14%;
    font-style: normal;
    font-family: "Lato", sans-serif;
    flex-shrink: 0;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.information__circle{
    position: relative;
    margin-left: 3.4%;
    margin-top: 6.5rem;
    margin-bottom: 4.6875rem;
    width: 40.5rem;
    height: 40.5rem;
    border-radius: 100%;
    background: #1C1C1C;
}

.information__face{
    margin-top: -9rem;
    margin-left: 5%;
    width: 41.3125rem;
    height: 54.1875rem;
    background: url('/css/images/information/face.png');
    background-size: 41.3125rem 54.1875rem;
}

.social-links{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    text-align: center;
    gap: 5rem;
    background-color:var(--red);
    width: 100%;
    padding: 4rem 0rem;
}

.social-links a{
    color:var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
    white-space: nowrap;
    text-decoration-line: none;
}

.social-links a:hover{
    color: var(--orange);
    text-shadow: var(--black) 1px 0px 15px;
}

.my-services{
    margin-top: 9rem;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.my-services h1{
    color:var(--red);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.my-services h2{
    margin-top: -15px;
    color: var(--white);
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.my-services__info{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
    flex-wrap: wrap;
}

.my-services__block{
    width: 18.75rem;
    height: 16.25rem;
    padding: 2.5rem;
    background: var(--black-gray);
}

.my-services_photo-blog{
    width: 4rem;
    height: 4.25rem;
    flex-shrink: 0;
    background: url('/css/images/my-services/blog.svg');
}

.my-services__info h4{
    font-family: 'Cormorant', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 0px;
    color: var(--blackish-red);
}

.my-services__info p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--grayish);
}

.my-services_photo-seo{
    width: 4rem;
    height: 4.25rem;
    flex-shrink: 0;
    background: url('/css/images/my-services/seo.svg');
}

.my-services_photo-conarch{
    width: 4rem;
    height: 4.25rem;
    flex-shrink: 0;
    background: url('/css/images/my-services/conarch.svg');
}

.my-services_active:hover h4{
    color:var(--white)
}

.my-services_active:hover p{
    color:var(--white)
}

.services {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 9.375rem;
    width: 100%;
    height: auto;
    padding: 4.6875rem 0rem;
    background:var(--black-gray);
    color:var(--white);
    gap: 6.25rem;
}

.services__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    counter-reset: item;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    gap: 120px
}

.services__list-elem{    
    width: 35.625rem;
    height: 8.25rem;
    position: relative;
    height: 7.5rem;
    margin-top: -1.875rem;
}

.services__list-elem::before{
    content: "0" counter(item);
    counter-increment: item;
    color:var(--blackish);
    margin-left: -0.875rem;
}

.services__list-elem:hover::before{
    color:var(--white);
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 1.5625rem;
    margin-top: 0.625rem;
    gap: 1.75rem;
}

.services__block p{
    font-size: 2rem;
    margin-top: -1.25rem;
    margin-left: 0.625rem;
}

.services__line{
    width: 27.875rem;
    height: 1.25rem;
    margin-top: -1.4375rem;
    margin-left: 0.625rem;
    border-top: 0.125rem solid var(--white-arrow);
}
.services__buttom{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
    background: var(--orange);
    margin-top: -2.6875rem;
    align-items: center;
}

.services__buttom:hover{
    box-shadow: var(--orange) 0 0 5px 3px;
    background: var(--blackish-gray);
    text-shadow: var(--orange) 1px 0px 25px;
    color: var(--orange);
}

.services__list ul{
    width: 34.375rem;
    margin-top: -2.5rem;
    margin-left: -1.875rem;
}

.services__list ul li::before{
    display: inline;
    margin-left: -1.875rem;
    margin-top: 0.3125rem;
    content: "";
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    background: transparent url('/css/images/services/check-mark.svg') no-repeat;
}

.services__list ul li{
    display: inline;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 1.875rem;
    margin-right: 1.5625rem;
    color:var(--grayish);
}

.services__list ul li:hover{
    color:var(--smoky-white);
}

.arrow{
    width: 0.4375rem; 
    height: 0.4375rem;
    border-top: 1.5px solid var(--white);
    border-right: 1.5px solid var(--white);
    margin-top: 1.0625rem;
    margin-left: 1.125rem;
}

.base-arrow{
    width: 0.6875rem;
    height: 0.0938rem;
    transform: rotate(-45deg);
    background: var(--white);
    margin-top: 0.1563rem;
    margin-left: -0.125rem;
}

.services__info{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28.875rem;
    margin-top: 6.25rem;
}

.services__info-h1{
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 71.5px;
}

.services__info p{
    color:var(--smoky-gray);
    font-size: 18px;
    font-weight: 350px;
    line-height: 180%;
}

.services__info-buttom{
    display: inline-flex;
    width: 8.75rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--orange);
}

.services__info-buttom a{
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-decoration-line: none;
    text-transform: uppercase;
}


.info-arrow{
    width: 24px;
    height: 15px;
    
    background: transparent url('/css/images/services/vector.svg');
    background-size: 24px 15px;
}

.portfolio{
    margin-top: 9.375rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1{
    width: 32.875rem;
    color:var(--white);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 71,5px;
    letter-spacing: 1px;
}

.portfolio p{
    width: 34.1875rem;
    color:var(--gray);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
}

.portfolio__photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 66%;
}

.portfolio__photos img{
    width: 24.375rem;
    height: 20rem;
}

.portfolio__buttom{
    margin-top: 5.1875rem;
    width: 7.5rem;
    height: 1.5625rem;
    padding: 0.75rem 0.75rem;
    background: var(--orange);
    color:var(--white);
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration-line: none;
}

.people-say{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
}

.people-say h1{
    color: var(--white);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.5px;
}

.people-say h4{
    width: 32.625rem;
    color: var(--white-gray);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin: 0 -5.625rem;
}

.people-say__quotebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.people-say__quote{
    width: 34rem;
    height: 7.5rem;
    padding: 2rem;
    margin-bottom: 7rem;
}

.people-say__quote-box{
    padding: 2rem;
    background: url(/css/images/quote/upper-quote.svg) 0.5rem 1.25rem/ 1rem 1rem no-repeat,
                url(/css/images/quote/down-quote.svg) 31.75rem 7.5rem/ 1rem 1rem no-repeat;
    background-color: var(--black-eye);    
    width: 30.125rem;
    height: auto;
    color: var(--white-dice);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.people-say__quote-member{
    display: flex;
    gap: 1rem
}

.people-say__quote_author{
    width: 6.8125rem;
    color:var(--white);
    font-family: 'Gelasio', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.people-say__quote_author span{
    color: var(--white-post);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.people-say__quote_stokes{
    width: 6rem;
    height: 6rem;
    border-radius: 0.6875rem;
    padding: 0.01rem;
    background: url(/css/images/quote/stokes.png) no-repeat;
    background-position: bottom;
    background-color: var(--black-eye);
}

.people-say__quote_fokes{
    width: 6rem;
    height: 6rem;
    border-radius: 0.6875rem;
    padding: 0.01rem;
    background: url(/css/images/quote/fokes.png) no-repeat;
    background-position: bottom;
    background-color: var(--black-eye);
}

.people-say__selectors{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2.8125rem;
    gap: 0.6875rem
}

.people-say__selector{
    width: 1.4rem;
    height: 0.375rem;
    border: 2px solid var(--grayish);
}

.people-say__selector_active{
    border-color: var(--red);
    background-color: var(--red);
}

.people-say__selector:hover{
    border-color: var(--orange);
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8.4375rem;
    background: var(--black-eye);
    width: 100%;
    padding: 2rem 0;
    gap: 100px;
}

.clients p{
    width: 24.4375rem;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.clients p span{
    color: var(--white-clients);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.clients__img{
    width: 9.5rem;
    height: 3.5625rem;
}

.clients_logo-1{
    background: url('/css/images/clients/client-1.png') no-repeat;
}

.clients_logo-2{
    background: url('/css/images/clients/client-2.png') no-repeat;
}

.clients_logo-3{
    background: url('/css/images/clients/client-3.png') no-repeat;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6.25rem;
    margin-bottom: 8.75rem;
    gap: 200px;
}

.footer__box{
    display: flex;
    color: var(--white);
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    gap: 1.5rem;
}

.footer__box p{
    width: 24.3125rem;
    font-size: 18px;
    color: var(--white-footer);
}

.footer__box h4{
    flex-wrap: nowrap;
    font-size: 24px;
    margin: 10px 10px;
}

.footer__box input{
    background-color: var(--almost-black);
    border: 1px solid var(--white-input-border);
    font-size: 22px;
    padding: 1rem 1.5rem;
}

.footer__social{
    display: inline;
    padding: 0.6rem;
    margin: 0;
}

.footer__social li{
    display: inline-flex;
    list-style-type: none;
    margin-right: 0.8rem;
}

.footer__social_facebook{
    width: 36px;
    height: 36px;
    background: url('/css/images/footer/social/facebook.svg') no-repeat;
    background-size: 36px 36px;
}

.footer__social_twitter{
    width: 36px;
    height: 36px;
    background: url('/css/images/footer/social/twitter.svg') no-repeat;
    background-size: 36px 36px;
}

.footer__social_instagram{
    width: 36px;
    height: 36px;
    background: url('/css/images/footer/social/instagram.svg') no-repeat;
    background-size: 36px 36px;
}

.footer__social_linked-in{
    width: 36px;
    height: 36px;
    background: url('/css/images/footer/social/linked-in.svg') no-repeat;
    background-size: 36px 36px;
}

.footer__social_vimeo{
    width: 36px;
    height: 36px;
    background: url('/css/images/footer/social/vimeo.svg') no-repeat;
    background-size: 36px 36px;
}


.logo{
    width: 2.75rem;
    height: 2.75rem;
    content: "";
    background: url('/css/images/logo.svg'), no-repeat;
    background-size: 2.75rem 2.75rem;
}

._down{
    gap:0px
}